{{#resume.basics}}
<h1>{{name}}</h1>
<h2>{{label}}</h2>
<section id="basics">
    <div class="contact">
        {{#if url}}
        <div class="website">
            <strong>Nettside</strong>
            {{url}}
        </div>
        {{/if}}
        {{#if email}}
        <div class="email">
            <strong>E-post</strong>
            {{email}}
        </div>
        {{/if}}
        {{#if phone}}
        <div class="phone">
            <strong>Telefon</strong>
            {{phone}}
        </div>
        {{/if}}
    </div>
    {{#if summary}}
    <div class="summary">
        <p>{{summary}}</p>
    </div>
    {{/if}}
    {{#location}}
    <h3>Sted</h3>
    <section id="location">
        {{#if address}}
        <div class="address">
            <strong>Adresse</strong>
            {{address}}
        </div>
        {{/if}}
        {{#if postalCode}}
        <div class="postalCode">
            <strong>Postnr</strong>
            {{postalCode}}
        </div>
        {{/if}}
        {{#if city}}
        <div class="city">
            <strong>Poststed</strong>
            {{city}}
        </div>
        {{/if}}
        {{#if countryCode}}
        <div class="countryCode">
            <strong>Landkode</strong>
            {{countryCode}}
        </div>
        {{/if}}
        {{#if region}}
        <div class="region">
            <strong>Fylke</strong>
            {{region}}
        </div>
        {{/if}}
    </section>
    {{/location}}
    
    {{#if profiles.length}}
    <h3>Profiler</h3>
    <section id="profiles">
        {{#each profiles}}
        <div class="item">
            {{#if network}}
            <strong class="network">
                {{network}}
            </strong>
            {{/if}}
            {{#if username}}
            <div class="username">
                {{username}}
            </div>
            {{/if}}
            {{#if url}}
            <div class="url">
                <a href="{{url}}">Link</a>
            </div>
            {{/if}}
        </div>
        {{/each}}
    </section>
    {{/if}}
</section>
{{/resume.basics}}