{{#if basics}}
<section id="basics">
    <h1>{{basics.name}}</h1>
    <!--<h2>Contact Information</h2>
    {{#if basics.email}}
    <p>Email: <a href="mailto:{{basics.email}}">{{basics.email}}</a></p>
    {{/if}}
    {{#if basics.phone}}
    <p>Phone: {{basics.phone}}</p>
    {{/if}}
    {{#if basics.url}}
    <p>Website: <a href="{{basics.url}}" target="_blank">{{basics.url}}</a></p>
    {{/if}}

    {{#if basics.profiles}}
    <section id="profiles">
        <h2>Profiles</h2>
        <ul>
            {{#each basics.profiles}}
            <li><a href="{{url}}" target="_blank">{{network}} ({{username}})</a></li>
            {{/each}}
        </ul>
    </section>
    {{/if}}-->
</section>
{{/if}}