{{#if resume.projects}}
<section id="projects">
    <h2>Prosjekter</h2>
    {{#each resume.projects}}
<div class="item">
    {{#if entity}}
    <div class="title">
        {{entity}}
    </div>
    {{/if}}
    {{#if name}}
    <div class="title">
        {{name}}
    </div>
    {{/if}}
    {{#if startDate}}
    <div class="date">
        {{startDate}}
    </div>
    {{/if}}
    {{#if endDate}}
    <div class="date">
        {{endDate}}
    </div>
    {{/if}}
    {{#if description}}
    <div class="awarder">
        {{description}}
    </div>
    {{/if}}
    {{#if highlights}}
    <ul>
        {{#each highlights}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
</div>
    {{/each}}
</section>
{{/if}}