{{#if publications}}
<section id="publications">
	<h2>Publications</h2>
	{{#each publications}}
	<div class="publication-entry">
		<h3><a href="{{url}}" target="_blank">{{name}}</a></h3>
		<p><strong>Published by:</strong> {{publisher}}</p>
		<p><strong>Release Date:</strong> {{releaseDate}}</p>
		<p>{{summary}}</p>
	</div>
	{{/each}}
</section>
{{/if}}