{{#if volunteer}}
<section id="volunteer">
	<h2>Volunteer Experience</h2>
	{{#each volunteer}}
	<div class="volunteer-entry">
		<h3>{{position}} at <a href="{{url}}" target="_blank">{{organization}}</a></h3>
		<p><strong>Duration:</strong> {{startDate}} - {{endDate}}</p>
		<p>{{summary}}</p>
		<ul>
			{{#each highlights}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
	{{/each}}
</section>
{{/if}}