{{#if work}}
<section id="work">
	<h2>Work Experience</h2>
	{{#each work}}
	<div class="work">
		<h3>{{position}} at <a href="{{url}}" target="_blank">{{name}}</a></h3>
		<p><strong>Duration:</strong> {{startDate}} - {{endDate}}</p>
		<p>{{summary}}</p>
		<ul>
			{{#each highlights}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
	{{/each}}
</section>
{{/if}}